@page
@model Inventory_Management.Pages.EditAssetModel

@{
    ViewData["Title"] = "Edit Asset";
}

<h1>Edit</h1>

<h4>Asset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Asset.Id" />
            <div class="form-group">
                <label asp-for="Asset.AssetNumber" class="control-label">Asset number</label>
                <input asp-for="Asset.AssetNumber" class="form-control" readonly />
                <span asp-validation-for="Asset.AssetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.Status" class="control-label">Status</label>
                <input asp-for="Asset.Status" class="form-control" readonly />
                <span asp-validation-for="Asset.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.PurchasedDate" class="control-label">Purchased date</label>
                <input asp-for="Asset.PurchasedDate" class="form-control" />
                <span asp-validation-for="Asset.PurchasedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.DiscardedDate" class="control-label">Discarded date</label>
                <input asp-for="Asset.DiscardedDate" class="form-control" />
                <span asp-validation-for="Asset.DiscardedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.AssignedDate" class="control-label">Assigned date</label>
                <input asp-for="Asset.AssignedDate" class="form-control" />
                <span asp-validation-for="Asset.AssignedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.LastReturnedDate" class="control-label">Last returned date</label>
                <input asp-for="Asset.LastReturnedDate" class="form-control" />
                <span asp-validation-for="Asset.LastReturnedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset.TypeId" class="control-label">Type</label>
                <select asp-for="Asset.TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                <span asp-validation-for="Asset.TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
